.pricing__subWrap{
     text-align: center;
     margin: 25px 0;
}
.pricingCard {
     width: 90%;
     margin: 30px auto;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
   }